@page
@model IndexModel
@{
    ViewData["Title"] = "Shakespeare once said";
}

<div class="text-center">
    <h1 class="display-4">To be or not to to be, that is the question.</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
